.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
}

.text {
  font-weight: bold;
  color: rgb(56, 39, 13);
  margin-bottom: 10px;
}

.input {
  width: 300px;
  height: 40px;
  padding: 0 10px 0 10px;

  outline: none;

  font-size: 14px;
}