.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: rgb(56, 39, 13);
    padding: 50px 0 50px 0;
}

.subtitle {
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(56, 39, 13);
}